html,
body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.CDB-Dashboard-menuActions {
    display: none;
}

.CDB-infowindow-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color: #2E3C43;
}

.CDB-infowindow-listItem .CDB-infowindow-subtitle {
    margin-bottom: 4px;
    color: #636D72;
}

.CDB-infowindow-listItem {
    margin-top: 12px;
}

.CDB-infowindow.has-header .CDB-infowindow-inner {
    padding: 24px;
}

.CDB-infowindow-listItem {
    word-break: break-word;
}

.CDB-Legend {
    position: absolute;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.24),0 4px 8px 0 rgba(0,0,0,.16);
    z-index: 2;
    bottom: 16px;
    right: 16px;
    padding: 16px 16px 8px 16px;
    width: 200px;
}
.CDB-Legend-title {
    font: 600 12px/16px 'Open Sans';
    color: #2E3C43;
}
.CDB-Legend-listItem {
    font: 600 10px/14px 'Open Sans';
    color: #2E3C43;
    text-transform: uppercase;
    margin-bottom: 12px;
    position: relative;
}
.CDB-Legend-listItem:before {
    content:"";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #D8D8D8;
    left: -20px;
    top: 4px;
}
.CDB-Legend-listItem:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background: #D8D8D8;
    left: -17px;
    top: -17px;
    height: 21px;
}
.CDB-Legend-listItem:first-child:after {
    top: -7px;
    height: 12px;
}
.CDB-Legend-listItem:last-child {
    margin-bottom: 0;
}
.CDB-Legend-listItem:last-child {
    margin-bottom: 0;
}
.CDB-Legend-list {
    padding: 8px 0 0 16px;
    margin: 8px 0 20px 8px;
}
.CDB-Legend-point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.CDB-Legend-pointText {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.CDB-Legend-listItemText {
    display: inline-block;
    vertical-align: middle;
}
.CDB-ColorRamp-info {
    border-radius: 10px;
    height: 8px;
    position: relative;
}
.CDB-ColorRamp-info:after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .20);
}
.CDB-ColorRamp-text {
    width: auto;
    overflow: hidden;
    margin-bottom: 4px;
}
.CDB-ColorRamp-text li:first-child {
    float: left;
}
.CDB-ColorRamp-text li:last-child {
    float: right;
}

.CDB-Widget-listItem .CDB-Size-medium{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.myheader{
    display: block;
    z-index: 2;
    top: 0px;
    left: 0px;
    position: absolute;
    background: white;
    width: 100%;
}

.CDB-HeaderInfo-Title{
    padding: 10px 10px 10px 10px;
}

.abel-CDB-Range{
    width: 100%;
}


input[type=range] {
  -webkit-appearance: none;
  width: 248px;
  margin: 4px 0;
  display: inline-block;
  vertical-align: middle;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #3AA9E3;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #3AA9E3;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c6dcef;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3AA9E3;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #3AA9E3;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  border: 1px solid #3AA9E3;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c6dcef;
}


.CDB-Dashboard-menu.is-active {
    z-index: 12;
}

.scoretext{
    line-height: 20px;
    text-align: right;
}
.scorehead{
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}


.other {
    margin-top: 4px;
    margin-bottom: 12px;
}
.other:last-child {
    margin-bottom: 0;
}
.otherBar {
    clear:both;
}

.CDB-Range-info {
  display: inline-block;
  vertical-align: middle;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 40px;
  line-height: 32px;
  font: 10px 'Open Sans';
  color: #2E3C43;
  text-align: left;
  margin-left: 12px;
  box-sizing: border-box;
  padding: 7px 0 7px 6px;
}

/* Region locators */

.region-locator {
    font-size: 12px;
    font-family: 'Open Sans';
    width: 200px;
    position: absolute;
    top: 175px;
    left: 100px;
    z-index: 2;
}

.region-locator select {
    width: 200px;
}

.select2-results {
    font-size: 12px;
    font-family: 'Open Sans';
}

/* Layer selector */

.Layer_selector {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Open Sans';
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    left: 100px;
    z-index: 2;
}

.layer-selector-info {
    padding: 18px 12px;
}

.layer-selector-item {
    margin-bottom: 8px;
    padding: 0 12px;
    line-height: 25px;
}

.layer-selector-item:last-child {
    margin-bottom: 0;
}

.layer-selector-item {
    color: #9B9B9B;
    cursor: pointer;
}

.layer-selector-item .is-active a {
    color: #222;
    font-weight: 600;
    text-decoration: none;
}

.CDB-Layer-Selector {
  color: #ccc;
}

.layer-selector-item a{
  text-decoration: none;
  color: #333;
}

.layer-selector-item a.is_visible {
    color: #9B9B9B !important;
    cursor: initial !important;
}

.layer-selector-item > svg {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
}

.layer-selector-item .tick {
    fill: #3AA9E3 !important;

}

.layer-selector-item a.is_visible .tick {
    fill: #9B9B9B !important;

}

.layer-selector-list {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    background: #FAFAFA;
    padding: 14px 0;
}


.CDB-infowindow-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  text-align: center;
  background: #D2D5D7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}
